$ease-out-bezier: cubic-bezier(0, 0, 0, 1);

$body-background-color: #444;
$body-foreground-color: #FFE;
$body-accent-color: #A3C4E9;

$navbar-height: 3rem;
$navbar-inner-padding-h: 2rem;
$navbar-inner-padding-h-smallscreen: 1rem;
$navbar-inner-padding-v: 1rem;
