@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

* {
  font-family: "Pretendard", "Noto Sans CJK KR", "Noto Sans CJK", "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", sans-serif;
  box-sizing: content-box;
  text-rendering: geometricPrecision;
  shape-rendering: geometricPrecision;
}

html, body, #app {
  width: 100%;
  height: 100%;

  color: $body-foreground-color;
  background-color: $body-background-color;
}

/* dialog route transition */
.dialog.dialog-enter-active,
.dialog.dialog-leave-active {
  transition: background-color 0.5s, backdrop-filter 0.5s;
  will-change: backdrop-filter;
}

.dialog.dialog-enter-active {
  .dialog-inner {
    transition: transform 0.45s $ease-out-exp-bezier;
  }
}

.dialog.dialog-leave-active {
  .dialog-inner {
    transition: transform 0.9s $ease-out-bezier;
  }
}

.dialog.dialog-enter-from,
.dialog.dialog-leave-to {
  background-color: transparent;
  backdrop-filter: none;
  
  .dialog-inner {
    transform: translateY(100vh);
  }
}
/* */
